.cv-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-div {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 10px;
}

.cv-page div:first-of-type img {
  cursor: pointer;
}

.cv {
  max-width: 1000px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px 60px;
  display: grid;
  grid-template-columns: 1fr .5fr;
  border: 1px solid;
  gap: 30px;
  font-family: 'Calibri', 'Arial';
}

.cv p {
  max-width: 75ch;
  font-size: 1.125rem;
}

.cv h2 {
  font-size: 1.75rem;
}

.head {
  display: flex;
  align-items: center;
  justify-content: start;
  grid-column: 1 / -1;
  gap: 20px;
}

.head-pic img {
  height: 200px;
  object-fit: contain;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 2;
  grid-row: 2 / 5;
  justify-self: center;
}

.details ul {
  list-style: none;
  font-size: 1.125rem;
  display: grid;
  gap: 20px;
  font-weight: normal;
}

.details ul li:nth-of-type(1)::before {
  content: url('../assets/icons8-home-24.png');
  vertical-align: middle;
  margin-right: 5px;
}

.details ul li:nth-of-type(2)::before {
  content: url('../assets/icons8-mail-24.png');
  vertical-align: middle;
  margin-right: 5px;
}


.details ul li:nth-of-type(3)::before {
  content: url('../assets/icons8-phone-24.png');
  vertical-align: middle;
  margin-right: 5px;
}

.employment-history,
.cv .education {
  display: grid;
  gap: 20px;
}

.employment-history h2,
.education h2 {
  margin-bottom: 10px;
}

.employment-history h3,
.education h3 {
  margin-bottom: 3px;
}

.employment-history span,
.education span {
  font-size: 0.875rem;
  color: gray;
  margin-bottom: 20px;
  display: inline-block;
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }

  .cv {
    border: none;
    width: 1100px;
  }

  .cv p {
    max-width: 75ch;
    font-size: 1rem;
  }
  
  .cv h2 {
    font-size: 1.6rem;
  }

  .cv h3 {
    font-size: 1.25rem;
  }

  .employment-history span,
  .education span {
    font-size: 0.675rem;
  }

  .details ul {
    font-size: 1rem;
  }
  
}